---
import Navbar from '../layouts/Navbar.astro';
---

<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title>Dashboard</title>
	<!-- FAVICON -->
	<link rel="icon" href="../../public/favicon.ico" type="image/x-icon">
  </head>
  <body>
	<Navbar />
	<div class="mx-auto mt-64 text-center">
	  <h1 class="text-4xl font-bold text-indigo-500">Welcome to Datapipeline Dashboard</h1>
	  <p class="text-lg mt-2">You can
		<a href="/login" class="text-indigo-400">Login</a> or click
		<a href="/signup" class="text-indigo-400">Database</a> to get started.
	  </p>
	</div>
  </body>
</html>