---
import Navbar from '../layouts/Navbar.astro';
---

<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title>Setting</title>
	<!-- FAVICON -->
	<link rel="icon" href="../../public/favicon.ico" type="image/x-icon">
  </head>
  <body>
	<Navbar />
	<div class="mx-auto mt-64 text-center">
	  <h1 class="text-4xl font-bold text-indigo-500">Welcome to Setting page</h1>
	</div>
  </body>
</html>